html {
	margin: auto;
	padding: 100px;
	height: 200px;
	width: 500px;
	text-align: center;
}


table {
	border-collapse: collapse;
}

tr {
	height: 20px;
}

td {
	border: 1px solid black;
	width: 20px;
}

#mainmenu, #menusettings {
	margin: auto;
	width: 150px;
	padding: 20px;
	position: relative;
	top: 150px;
	color: white;
}

input{
	display: block;
	width: 100px;
	margin: 5px auto;
	border-radius: 10px;
	outline: none;
}

#mainmenu input:hover {
	transition: color 2s;
	color: yellow;
}

#save:hover {
	transition: color 2s;
	color: yellow;
}

#mainmenu h2, h4 {
	margin: 4px 0;
	color: white;
}

#mainmenu h2:hover {
	transition: color 2s;
	color: yellow;
}

#menusettings div input{
	text-indent: 10px;
}

#menusettings legend{
	font-size: 25px;
}

h1 {
	color: white;
	position: relative;
	top: 150px;
	animation: color 5s infinite linear;
}

@keyframes color {
	20% {
		color: red;	
	}

	50% {
		color: white;
	}

	70% {
		color: red;
	}
} 

body {
	background-image: url("../img/Snake.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}