* {
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  -khtml-user-drag: none;
  -ms-user-drag: none;
  user-drag: none;
}
html {
  background-color: #006c2b;
}
body {
  text-align: center;
}
#menu {
  position: relative;
  top: -20px;
  margin: auto;
  width: 400px;
  height: 400px;
  color: white;
  background-color: #0e472b;
  line-height: 20px;
  border: 10px solid #001f00;
  border-radius: 20px;
}
#numbercells {
  position: absolute;
  width: 350px;
  height: 20px;
  bottom: 90px;
  left: 25px;
  border-radius: 5px;
}
.manual {
  position: absolute;
  bottom: 120px;
  font-size: 15px;
  font-family: sans-serif;
}
#score,
#record {
  font-size: 25px;
  font-family: sans-serif;
}
#record {
  top: 10px;
  color: #8b8940;
}
.btn {
  height: 40px;
  border-radius: 40px;
  margin-top: 150px;
  border: none;
  outline: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: #2d572c;
  color: white;
}
.btn:active {
  background-color: #1c361c;
}
#restart {
  margin: 0;
}
#gameover {
  margin: 0;
  display: table-cell;
  -webkit-animation: color 5s infinite linear;
          animation: color 5s infinite linear;
  vertical-align: middle;
}
#gameover-wrap {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
  display: none;
}
@-webkit-keyframes color {
  20% {
    color: #380000;
  }
  50% {
    color: #6b3000;
  }
  70% {
    color: #008c00;
  }
}
@keyframes color {
  20% {
    color: #380000;
  }
  50% {
    color: #6b3000;
  }
  70% {
    color: #008c00;
  }
}
#playfield {
  text-align: center;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  width: 400px;
}
.back {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #0f7400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100px;
  height: 100px;
  background: #2f4230;
  border-radius: 10px;
}
.thing,
.menuThing {
  -webkit-transition: background 1s, top 0.2s, left 0.2s;
  transition: background 1s, top 0.2s, left 0.2s;
  position: absolute;
  width: 99px;
  height: 99px;
  background: transparent;
  color: black;
  text-align: center;
  font: 48px/96px Arial;
  border-radius: 10px;
  -webkit-box-shadow: inset 2px 2px 10px 4px;
          box-shadow: inset 2px 2px 10px 4px;
}
.t2 {
  background: #009600;
}
.t2:after {
  content: '2';
}
.t4 {
  background: #00963c;
}
.t4:after {
  content: '4';
}
.t8 {
  background: #009678;
}
.t8:after {
  content: '8';
}
.t16 {
  background: #0096b4;
}
.t16:after {
  content: '16';
}
.t32 {
  background: #004b7f;
}
.t32:after {
  content: '32';
}
.t64 {
  background: #282864;
}
.t64:after {
  content: '64';
}
.t128 {
  background: #3c0064;
}
.t128:after {
  content: '128';
}
.t256 {
  background: #780064;
}
.t256:after {
  content: '256';
}
.t512 {
  background: #b40064;
}
.t512:after {
  content: '512';
}
.t1024 {
  background: #f00064;
}
.t1024:after {
  font-size: 40px;
  content: '1024';
}
.t2048 {
  background: #9a0000;
}
.t2048:after {
  font-size: 40px;
  content: '2048';
}
.t4096 {
  background: #af4207;
}
.t4096:after {
  font-size: 40px;
  content: '4096';
}
.t8192 {
  background: #ffa700;
}
.t8192:after {
  font-size: 40px;
  content: '8192';
}
#gamepad {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 10;
}
.way {
  position: absolute;
  display: inline-block;
  background: black;
  opacity: 0.2;
}
.way:hover {
  opacity: 1;
}
.way-left {
  width: 60px;
  height: 25px;
  left: 0;
  top: 67px;
  border-radius: 20px 0 0 20px;
}
.way-right {
  width: 60px;
  height: 25px;
  left: 100px;
  top: 67px;
  border-radius: 0 20px 20px 0;
}
.way-up {
  width: 25px;
  height: 60px;
  left: 68px;
  border-radius: 20px 20px 0 0;
}
.way-down {
  width: 25px;
  height: 60px;
  top: 100px;
  left: 68px;
  border-radius: 0 0 20px 20px;
}
.new {
  display: none;
}
