@font-face{ 
		font-family: asphaltic;
		src: url(../fonts/10943.otf);
	}

body{
	font-family: sans-serif;
	margin: auto;
	width: 1366px;
	}

header, section, footer {
	margin-left: 10px;
}
header, footer {
	background-color: rgb(0, 0, 0);
	color: white;
}

header h1 {
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
}

header a {
	display: inline-block;
	height: 115px;
	color: rgb(205, 0, 0);
	font-family: 'asphaltic';
	font-size: 100px;
	margin-left: 20px;
}

header div {
	width: 400px;
	height: 40px;
	margin: 0 20px;
	letter-spacing:3px;
}

header form {
	height: 50px;
	background-color: rgb(10,10,10);
	text-align: center;
	padding-top: 10px;
}

header input {
	width: 200px;
	height: 40px;
	background-color: transparent;
	outline: none;
	border:none;
	color: white;
	border-top: 1px solid #eee;
	border-bottom:1px solid #eee;
	font-size: 20px;
	font-weight: bold;
	letter-spacing:5px;
	-moz-transform:rotate(-5deg);
	-moz-box-shadow:10px 10px 20px #000000;
	-webkit-transform:rotate(-5deg);
	-webkit-box-shadow:10px 10px 20px #000000;
	transform:rotate(-5deg);
	box-shadow:10px 10px 20px #000000;
	transition: 0.5s;
}

header input:hover {
	background-color: rgb(220,220,220);
	color: black;
	cursor: pointer;
	-moz-transform:rotate(0deg);
	-moz-box-shadow:10px 10px 20px #000000;
	-webkit-transform:rotate(0deg);
	-webkit-box-shadow:10px 10px 20px #000000;
	transform:rotate(0deg);
	box-shadow:10px 10px 20px #000000;
}

aside {
	height: 100%;
	position: fixed;
	top: 0px;
	z-index: 10;
}

aside div{
	display: none;
	float: left;
	width: 200px;
	height: 100%;
	background-color: rgb(255,255,255);
}

aside h1 {
	font-family: 'asphaltic';
	margin: 0 10px;
	font-size: 60px;
}

aside input {
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

aside ul {
	padding: 0;
}

aside li {
	text-shadow: -2px 2px 10px rgb(0,0,0);
	padding-top: 10px;
	height: 30px;
	display: block;
	border-bottom: 1px solid black;
	font-weight: bold;
	margin-left: 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	position: relative;
    z-index: 1;
}

aside li:before {
    content: "";
    position:absolute;
    width: 0;
    height: 100%;
    top: 50%;
    left: 100%;
    opacity: 0;
    -webkit-transform: translateX(-100%) translateY(-50%);
    -moz-transform: translateX(-100%) translateY(-50%);
    -ms-transform: translateX(-100%) translateY(-50%);
    transform: translateX(-100%) translateY(-50%);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

aside li:hover:before {
	width: 100%;
    opacity: 1;
	background-color: rgb(100,100,100);
}

aside li a:hover {
	color: rgb(150,150,150);
}

#leftmenu {
	height:100%;
	padding: 0;
	outline: none;
	border:none;
	width: 10px;
	background-color: rgb(0,0,0);
	color: white;
}

#leftmenu:hover {
	background-color: rgb(140,140,140);
}

.news > div {
	background-color: rgb(80, 80, 80);
	-moz-box-shadow:-10px 10px 20px #000000;
	-webkit-box-shadow:-10px 10px 20px #000000;
	box-shadow:-10px 10px 20px #000000;
	border: 1px solid black;
	margin: 40px;
	padding: 20px;
}

.news h2 {
	margin: 0;
}

.news h3 {
	background-color: rgb(30,30,30);
	-moz-box-shadow:0px 2px 10px #000000;
	-webkit-box-shadow:0px 2px 10px #000000;
	box-shadow:0px 2px 10px #000000;
}

.news a {
	color: white;
}

.description {
	white-space: pre-wrap;
}

.author {
    color: white;
    text-shadow: -2px 2px 0 rgba(0,0,0,0.4);
    font-size: 15px;
    font-style: italic;
}

.addnews {
	margin: 0 10px;
	width: 500px;
}

.addnews p {
	display: inline-block;
	margin: 0;
}

textarea {
	min-width: 460px;
	min-height: 100px;
	max-width: 1000px;
	max-height: 200px;
	margin: 10px 0;
}

input[name=publish] {
	margin: auto;
	width: 100px;
	display: flex;
	justify-content: center;
}

#postingdate {
	display: none;
}

footer {
	width: 100%;
	height: 100%;
	margin-top: 2px;
}

footer > p {
	text-align: right;
	margin-right: 20px;
	vertical-align: bottom;
}

footer img {
	position: absolute;
	margin: 50px 0px 0 20px;
	height: 20px;
}

footer img[name="android"] {
	clip: rect(0px 18px 20px 0px);
}

footer img[name="apple"] {
	clip: rect(0px 35px 20px 18px);
}

footer img[name="windows"] {
	clip: rect(0px 60px 20px 36px);
}

footer > div {
	display: inline-block;
	padding-left: 20px
}

footer > div > p:hover {
	cursor: pointer;
}

footer h1 {
	color: black;
	position: absolute;
	right: 0%;
	top: -25px;	
}

footer h1:hover {
	cursor: pointer;
}

#support {
	width: 500px;
	display: none;
	position: absolute;
	text-align: center;
	transform: translate(85%, -100%);
	background-color: rgba(100,100,100,0.5);
}

#support ul {
	padding: 0 10px;
	margin: 0 auto;
}

#support textarea {
	max-width: 460px;
	max-height: 200px;
	min-width: 200px;
	min-height: 50px;
}

#support input[type='text'], input[type='email'] {
	margin-top: 10px;
	width: 400px;
}

#support input[type='button'] {
	margin-bottom: 10px;
}

#successmessage {
	position: absolute;
	width: 1200px;
	height: 0px;
}

#successmessage p {
	padding-top: 25px;
	width: 300px;
	height: 50px;
	color: black;
	position: absolute;
	right: 400px;
	bottom: 50px;
	text-align: center;
	border: 4px solid green;
	border-radius: 25%;
	font-weight: bold;
}

